.one{height: 300px;
width: 500px;
background-color: aqua;
padding: 2px;margin: 10px;
border-color: black;border:black solid 1px;float: left;
}
.two{height: 300px;
width: 500px;
background-color: aqua;
padding: 2px;margin: 10px;
border-color:  black;border: black solid 1px;float: left;
}
.three{height: 300px;
width: 500px;
background-color: aqua;
padding: 2px;margin: 10px;
border: 1px black solid;float: left;
}

.heading{text-align: center;}
p{background-color: gray;width: 50px; position: relative;top: 5px;left: 200px}

.float{display: flex;}
@media all and (min-width :992px) {.one,.two,.three{height: 360px;padding: 2px; width: 27%;} .nmae1,.name2,.name3{padding-top: 10px;}

    
}
@media all and (min-width :768px) and (max-width:991px){.one,.two{height: 360px;padding: 2px; width: 33.33%;} .three{height: 360px;width: 70%;}

    
}
@media all and (max-width:767px) {.one,.two,.three{height: 360px;width: 100%;}
    
}